@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f5f2; /* marble tone */
  font-family: 'Inter', sans-serif;
  color: #333;
}

.text-gold {
  color: #d4af37;
}

.bg-gold {
  background-color: #d4af37;
}

.bg-marble {
  background-color: #f8f5f2;
}

